---
layout: default
title: Home
---

# About me:
Pics and sometimes long form posts about life and the view out my windows. Unless otherwise noted all the pics are from my weird little slice of life.
Light polution Brightness: 4.81mcd/m2
Elevation 259M
Bortle Class 8-9 
# Latest Posts

{% for post in site.posts %}
  <article style="margin-bottom: 80px; border-bottom: 1px solid #eee; padding-bottom: 40px;">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p style="color: #666; font-size: 0.9em;">{{ post.date | date: "%B %d, %Y" }}</p>
    <div class="entry">
      {{ post.content }}
      <p style="color: #666; font-size: 0.9em;">Camera: {% if post.camera %} {{ post.camera }}  {% endif %}</br>Image Taken: {% if post.taken %} {{ post.taken }}  {% endif %}</p>
    </div>
  </article>
{% endfor %}
